.dialog{
    height: calc(100vh - 50px);
    width: 100%;
    position: relative;
    flex: 1;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.MessageInput{
    display: inline-block;
  align-self: flex-end;
  margin-bottom: 20px;
}

.dialogContainer{
    height: 100%;
    background-size: cover;
    background-image: url("https://fons.pibig.info/uploads/posts/2023-06/1686041788_fons-pibig-info-p-strannii-fon-vkontakte-17.jpg");
}

.form{
    display: flex;
    margin-right: 15px;
}