.body{
 margin: 0;
}

.app-main-block {
  margin: 0 auto;
  text-align: center;
  display:  grid;
  grid-template-areas: 
  "first-column second-column";
  grid-template-columns: 3.3fr 10fr;
}

.app-first-column{
  position: relative;
  grid-area: first-column;
  height: 30px;
}

.app-second-column{
  background-color: rgb(70, 87, 81);
  position: relative;
  grid-area: second-column;
  height: 100vh;
}


